<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <style>
        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            width: 200px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Каталог товаров</h1>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <p>Цена: {{ product.price }}</p>
                <p>{{ product.description }}</p>
                <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Добавить в корзину</button>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'cart_detail' %}" class="go-to-cart-btn">Перейти в корзину</a>
    <script>
        document.querySelectorAll('.add-to-cart-btn').forEach(button => {
            button.addEventListener('click', () => {
                const productId = button.getAttribute('data-product-id');
                fetch(`/catalog/add-to-cart/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                });
            });
        });
</script>
</body>
</html>
